<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569844317314-b0tls7ejgf6lm6nr3tnuo6e2k1u8bpbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569844317314-b0tls7ejgf6lm6nr3tnuo6e2k1u8bpbo</string>
	<key>API_KEY</key>
	<string>AIzaSyDWt1CV1BN8sUcE7KbG3XYtaSlOsWFb49I</string>
	<key>GCM_SENDER_ID</key>
	<string>569844317314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelmay.rendezvousBetaV3</string>
	<key>PROJECT_ID</key>
	<string>rendezvous-beta-v3</string>
	<key>STORAGE_BUCKET</key>
	<string>rendezvous-beta-v3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:569844317314:ios:622f992a92db33b8c4889b</string>
</dict>
</plist>
